.about-full-container {
    width: var(--card-width);
    height: min-content;
    border-radius: 12px;
    background-color: var(--card-bg);
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.about-heading {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.about-info {
    height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 18px;
    padding: 25px;
}


.donations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pledge-container {
    width: 93%;
    height: 250px;
    border: 1px solid rgba(61, 154, 225, .3765);
    border-radius: 5px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

.pledge-name-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pledge-money {
    font-size: 14px;
    color: rgb(108, 251, 108);
}

.pledge-number-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.positions-left {
    font-size: 30px;
    font-weight: 800;
    padding-right: 12px;
}
