.about-full-container {
    width: 650px;
    height: min-content;
    border-radius: 12px;
    background-color: var(--card-bg);
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;
}

.about-info {
    height: 275px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 18px;
}


.pledge-container {
    width: 95%;
    height: 250px;
    border: 1px solid rgba(255, 255, 255, .2986);
    border-radius: 5px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
}

.pledge-name-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pledge-money {
    font-size: 14px;
    color: rgb(108, 251, 108);
}

.pledge-number-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.positions-left {
    font-size: 30px;
    font-weight: 800;
    padding-right: 12px;
}
