.donate-full-container {
    background-color: black;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, .5);
    max-width: var(--card-width);
    width: var(--card-width);
    height: 80vh;
    position: absolute;
    z-index: 999;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    top: 10%;
}

.donate-comp-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.donate-heading {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.donate-comp-container {
    cursor: pointer;
}