:root {
  --bg-color: #0C090D;
  --card-bg: #161118;
  --btn-support: #41EAD4;
  --bookmark-btn: #002F3D;
  --bookmarked-btn: #001412;
  --progress-bar: #41EAD4;  /* #3D9AE1; */
  --card-width: 700px;
  --outline-color: rgba(71, 235, 213, .3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--bg-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Commissioner', sans-serif;
}