:root {
  --bg-color: #111;
  --card-bg: #070707;
  --btn-support: #3D9AE1;
  --bookmark-btn: #FBFBFB;
  --bookmarked-btn: #051338;
  --progress-bar: #3D9AE1;
  --card-width: 700px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--bg-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Commissioner', sans-serif;
}